Fontend/artist/*.png
Fontend/degrade/*.png
Fontend/extract/*.png
Fontend/filter/*.png
Fontend/filters/*.png
Fontend/formats/*.png
Fontend/geometry/*.png
Fontend/warpings/*.png
Fontend/zarpings/*.json
Formula/*.json
Formula/*.png
__pycache__/
.ruff_cache/
.idea/
.venv/
*.log
*.tmp
.cache
.cache/
.temp/
temp/
.env
*.pem
*.key
